@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add custom styles for profile picture */
.profile-picture-shadow {
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.04);
}

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  
  .scrollbar-hide::-webkit-scrollbar {
    display: none;  /* Chrome, Safari and Opera */
  }
}
